<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Post updated</strong></p>
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" >Continue to homepage</a>
  </p>
</div>